// Reset CSS
*
  margin 0
  padding 0
  box-sizing border-box
  

@font-face
  font-family 'SVNGilroy'
  src url('@/assets/fonts/svn-gilroy/SVNGilroy Light.otf'), url('@/assets/fonts/svn-gilroy/SVNGilroy Bold.otf')
  font-weight normal
  font-style normal

// Configuração geral do body
body
  background-color $color-baby-blue
  color $color-gunmetal
  line-height 1.5
  font-family $main-font-family

// Backgrounds
.bg-white
  background-color $color-white

.bg-white
  background-color $color-white

.bg-blue
  background-color $color-blue

// padding
.p-0
  padding 0!important

// margin
.my-auto
  margin-top auto
  margin-bottom auto

// overflow
.overflow-hidden
  overflow hidden
