/*******************************
 * Botões
 *******************************/

// Botão padrão
.btn
  background-color $color-blue
  color #fff
  padding 20px
  border-radius 5px
  border none
  cursor pointer
  font-weight bold
  transition background-color 0.3s

.btn:hover
  background-color darken($color-blue, 10%)

.btn:disabled
  background-color $color-cadet-blue
  cursor not-allowed

// Botão verde
.btn-green
  background-color $color-green

.btn-green:hover
  background-color darken($color-green, 10%)

// Botão vermelho
.btn-red
  background-color $color-red

.btn-red:hover
  background-color darken($color-red, 10%)

/*******************************
 * Inputs
 *******************************/
 
form.form
  max-width 368px
  width 100%
  margin 0 auto
  padding 25px
  display flex
  flex-direction column
  gap: 15px
 
form.form .form-group
  display flex
  flex-direction column

form.form fieldset
  border 0
  padding 0
  margin 0
  margin-bottom 20px
  font-weight bold

form.form label
  color $color-steel-blue
  font-weight bold
  margin-bottom 5px

form.form input
  padding 15px
  border-radius 5px
  border 2px solid $color-light-steel-blue
  font-size 16px
  font-family $main-font
  transition border-color 0.3s
  outline none
  color $color-charcoal-blue

form.form input:focus
  border-color $color-blue
  
// Ancora
a
  font-size 13px
  color $color-blue
  font-weight bold
  transition color 0.3s

/*******************************
 * Icones
 *******************************/
.icon-circle
  width 50px
  height 50px
  display flex
  justify-content center
  align-items center
  border-radius 50%
  background-color $color-green
  color $color-white
  font-size 20px
  margin-bottom 20px
  transition background-color 0.3s