// Cores
$color-blue = #2693FF
$color-gunmetal = #283848
$color-baby-blue = #E9F4FB
$color-charcoal-blue = #304458
$color-steel-blue =  #4E657B
$color-light-steel-blue = #BFDAEB
$color-cadet-blue = #A6C1D2
$color-alice-blue = #F4FBFF 
$color-green = #1AD18F
$color-red = #FF4874
$color-yellow = #FFC42E
$color-white = #FFFFFF

// Tipografia
$main-font-family = 'SVNGilroy', sans-serif

// Espaçamentos
$small-spacing = 8px
$medium-spacing = 16px
$large-spacing = 32px
$container-max-width = 1200px
$gutter-width = 16px
